[data-theme="dark"] {
    background-color: #1c1c1c;
    color: white;
  }
  
  [data-theme="dark"] .sidebar {
    background: #262626;
  }
  
  [data-theme="dark"] .card {
    background: #333;
  }
  
  [data-theme="dark"] .social-icons i {
    background: white;
    color: black;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    max-width: 900px;
    margin: auto;
  }
  
  .sidebar {
    width: 300px;
    background: #333;
    color: white;
    padding: 20px;
  }
  
  .main-content {
    flex-grow: 1;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 20px;
  }
  
  .card {
    background: #f0f0f0;
    aspect-ratio: 1;
  }
  
  .card.large {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .sidebar h1,
  .sidebar menu,
  .sidebar .social-icons {
    margin-bottom: 20px;
  }
  
  .social-icons i {
    background: black;
    border-radius: 50%;
    padding: 10px;
  }
  
  .dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar,
    .main-content {
      width: auto;
      max-width: 100%;
    }
  
    .main-content {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }