/* Definiendo colores base y colores de iconos específicos */
:root {
  --background-color: #fff;
  --text-color: #000;
  --icon-bg-color-dark: #fff; /* Fondo del icono para modo oscuro */
  --icon-color-dark: #000; /* Color del icono para modo oscuro */
  --icon-bg-color-light: #000; /* Fondo del icono para modo claro */
  --icon-color-light: #fff; /* Color del icono para modo claro */
}

/* Aplica estilos específicos para el modo claro */
body:not(.dark-mode) .social .fab {
  color: var(--icon-color-light);
  background-color: var(--icon-bg-color-light);
}

/* Aplica estilos específicos para el modo oscuro */
body.dark-mode .social .fab {
  color: var(--icon-color-dark);
  background-color: var(--icon-bg-color-dark);
}

/* Estilos para el modo oscuro */
body.dark-mode {
  --background-color: #000;
  --text-color: #fff;
}

body:not(.dark-mode) .mode {
  background-color: var(--icon-bg-color-light);
  color: var(--icon-color-light);
}

/* Aplica estilos específicos para el modo oscuro */
body.dark-mode .mode {
  background-color: var(--icon-bg-color-dark);
  color: var(--icon-color-dark);
}

/* Estilos comunes para el icono de modo */
.mode {
  border-radius: 50%;
  padding: 10px; /* Ajusta el tamaño del círculo alrededor del icono */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Ajusta el ancho del área clickeable del icono */
  height: 30px; /* Ajusta la altura del área clickeable del icono */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios de modo */
  cursor: pointer; /* Cambia el cursor a puntero para indicar clickeabilidad */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 20px;
}

.logo {
  margin: 0 0 20px 0;
}

.menu-hamburger {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Estilos comunes para los iconos sociales */
.social .fab {
  border-radius: 50%;
  padding: 10px; /* Ajusta el tamaño del círculo alrededor del icono */
  margin: 0 10px 0 0; /* Ajusta el margen entre iconos */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Ajusta el ancho del área clickeable del icono */
  height: 30px; /* Ajusta la altura del área clickeable del icono */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios de modo */
}

.mainContent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Tarjeta cuadrada pequeña */
.card--small {
  grid-column: span 1;
  grid-row: span 1;
}

/* Tarjeta horizontal que ocupa el espacio de dos tarjetas cuadradas */
.card--horizontal {
  grid-column: span 2;
  grid-row: span 1;
}

/* Tarjeta cuadrada grande que ocupa el espacio de cuatro tarjetas cuadradas pequeñas */
.card--large {
  grid-column: span 2;
  grid-row: span 2;
}

/* Tarjeta estilo barra, más fina y larga */
.card--bar {
  grid-column: span 4;
  grid-row: span 1;
}

/* Estilos para mobile */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }

  .sideBar {
    position: relative;
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
  }

  .resp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-hamburger {
    display: block;
    z-index: 2;
    /* Asegura que el menú hamburguesa esté por encima del menú desplegable */
  }

  .menu-container {
    display: none;
    /* Mantén el menú oculto inicialmente */
    width: 100%;
    /* El menú debe ocupar el ancho completo del sidebar */
    background: var(--background-color);
    /* Fondo del menú */
    position: static;
    /* Posición estática para mover el contenido hacia abajo */
    order: 2;
    /* Asegura que el menú se muestra después de la cabecera */
    padding-top: 0;
    /* Elimina el padding superior */
    padding-bottom: 0;
    /* Elimina el padding inferior */
  }

  .sideBar.expanded .menu-container {
    display: flex;
    /* Muestra el menú cuando el sidebar está expandido */
    flex-direction: column;
    /* Orientación vertical de los elementos del menú */
  }

  .mainContent {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card--horizontal, .card--large, .card--bar {
    grid-column: span auto;
  }
}

/*--FOOTER--*/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color); /* Color de fondo del footer */
  padding: 20px; /* Ajusta el padding del footer */
}
