body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6; /* Color de fondo principal */
  }
  
  .sidebar {
    background-color: #181818; /* Color de fondo de la barra lateral */
    color: #fff; /* Color del texto de la barra lateral */
    width: 300px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    max-width: 100%; /* Se ajusta al contenedor */
    margin-bottom: 20px;
  }
  
  .social-icons {
    margin: 20px 0;
  }
  
  .icon-link {
    color: #fff;
    margin: 0 10px;
  }
  
  .dark-mode-toggle {
    margin-top: auto; /* Empuja el interruptor hacia abajo */
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-content {
    margin-left: 300px; /* Ajusta esto si cambias el ancho del sidebar */
    display: flex;
    max-width: 600px; /* Ancho máximo de la sección de contenido */
  }
  
  .column {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card {
    background-color: #fff; /* Color de fondo para el modo claro */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    color: #000; /* Color del texto para el modo claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .card.large {
    height: 400px; /* Altura de la tarjeta grande */
  }
  
  .card.small {
    height: 190px; /* Altura de la tarjeta pequeña */
  }
  
  /* Ajustes para la responsividad */
  @media (max-width: 900px) {
    .sidebar, .main-content {
      width: 100%;
      margin-left: 0;
      padding: 20px;
      box-sizing: border-box;
    }
  
    .main-content {
        flex-direction: column;
        }
        
        .column {
        width: 100%;
        }
        }
        