/* Definiendo colores base */
:root {
  --background-color: #fff;
  --text-color: #000;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  --background-color: #000;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 100%;
  border-radius: 10px;
  margin: 20px;
  background-color: beige;
}

.mainContent {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  align-items: center;
  margin: 20px;
  background-color: bisque;
}

/* Estilos para mobile */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}